/* Globais */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(180deg,rgba(11, 11, 12, 1) 0%, rgba(23, 23, 25, 1) 60%);
}

/* Navbar e Header */

header{
    display: flex;
    flex-direction: column;
}

nav{
    width: 100%;
    height: 3.75rem; 
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(0.625rem);
    font-family: "Montserrat";
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

nav .logo{
    width: 12.5rem;
    height: 3.313rem;
}

nav .logo img{
    width: 100%;
    height: 100%;
}

nav input{
    width: 31.25rem; 
    height: 1.875rem; 
    background-color: transparent;
    border: solid 0.125rem #D4AF37; 
    padding: 0.125rem 1.25rem; 
    resize: none;
    border-radius: 0.188rem; 
    font-family: "Montserrat";
    font-size: 0.875rem; 
    background-image: url(./assets/images/pesquisa-de-lupa.png);
    background-repeat: no-repeat;
    background-size: 0.875rem 0.875rem; 
    background-position: 29.375rem center; 
}

nav a{
    font-weight: 500;
    color: #D4AF37;
    text-decoration: none;
    font-size: 1.5rem;
    cursor: pointer;
}

nav a:hover{
    color: #F3DE9B;
    transition: all 0.3s ease;
}

nav .icone{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 1.25rem;
    color: #D4AF37;
}

nav .icone img{
    width: 1.563rem; 
    height: 1.563rem; 
}

header article{
    width: 100%;
    height: 37.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1.25rem 5.625rem; 
    font-family: "Montserrat";
    color: #fff;
}

header section{
    height: 26.875rem; 
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

header section h1{
    width: 80%;
    font-size: 4.5rem; 
    font-weight: 600;
}

header section p{
    width: 70%;
    font-size: 1.625rem; 
    font-weight: 200;
    margin: -1.25rem 0 0.625rem 0; 
}

header section a{
    width: fit-content;
    height: 3.4375rem;
    padding: 0.875rem 3.4375rem; 
    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(0.625rem); 
    border: solid 0.125rem #D4AF37; 
    font-family: "Montserrat";
    font-size: 1.25rem; 
    font-weight: 200;
    color: #fff;
    text-decoration: none;
    border-radius: 0.9375rem; 
    cursor: pointer;
    box-shadow: -0.0625rem 0.1875rem 2.5rem -1.125rem #fff ; 
}

header section a:hover{
    color: #F3DE9B;
    transition: all 0.3s ease;
    transform: scale(1.1);
}

header article img{
    width: 40.625rem;
    height: 40.625rem; 
}

/* Main */
/* section categorias */

.categorias{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.625rem 5.625rem; 
    font-family: "Montserrat";
    color: #F3DE9B
}

.categorias h2{
    font-size: 2.25rem;
    font-weight: bold;
    margin-bottom: 2.1875rem; 
}

.categorias article{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.categorias a{
    width: 14%;
    height: 8.125rem; 
    padding: 3.125rem 1.25rem;
    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(0.625rem); 
    border: solid 0.125rem #D4AF37; 
    font-family: "Montserrat";
    font-size: 1.5625rem; 
    font-weight: 600;
    color: #F3DE9B;
    text-decoration: none;
    border-radius: 1.5625rem; 
    cursor: pointer;
    box-shadow: -0.0625rem 0.1875rem 2.5rem -1.5625rem #fff ; 
}

.uniformes{
    background-image: url(./assets/images/uniformes-background.png);
    background-repeat: no-repeat;
    background-size: 13.75rem 13.75rem;
    background-position: 1.875rem center; 
}

.bolas{
    background-image: url(./assets/images/bolas-background.png);
    background-repeat: no-repeat;
    background-size: 15.625rem 15.625rem; 
    background-position: 1.875rem center; 
}

.calcados{
    background-image: url(./assets/images/calcados-background.png);
    background-repeat: no-repeat;
    background-size: 13.75rem 13.75rem; 
    background-position: 1.875rem center; 
}

.equipamentos{
    background-image: url(./assets/images/equipamentos-background.png);
    background-repeat: no-repeat;
    background-size: 13.75rem 13.75rem; 
    background-position: 1.875rem center; 
}

.quadros{
    background-image: url(./assets/images/quadros_background.png);
    background-repeat: no-repeat;
    background-size: 13.75rem 13.75rem; 
    background-position: 1.875rem center; 
}

.categorias a:hover{
    color: #D4AF37;
    transition: all 0.3s ease;
    transform: scale(1.1);
}

/* Cards */

.cards{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.625rem 5.625rem;
    margin-top: 5.625rem; 
    font-family: "Montserrat";
}

.cards h2{
    font-size: 2.25rem; 
    font-weight: bold;
    color: #F3DE9B;
    margin-bottom: 1.875rem; 
}

.cards div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card{
    width: 21.875rem; 
    height: 29.375rem;
    display: flex;
    flex-direction: column;   
    align-items: flex-start;
    border: solid 0.1875rem #D4AF37; 
    border-radius: 1.5625rem; 
    padding: 1.25rem; 
    background-color: rgba(255, 255, 255, 0.04);
}

.card > button{
    background: none;
    border: none;
    cursor: pointer;
    align-self: flex-end; 
    position: absolute;
}

.favorito{
    width: 2.1875rem; 
    height: 2.1875rem;    
}

.favorito:hover{
    transform: scale(1.1);
}

.card figure{
    align-self: center;
}

.imagem_produto{
    align-self: center;
    width: 15.625rem;
    height: 15.625rem;
    object-fit: contain;
    transform: scale(1.1);
    pointer-events: none;
    margin-bottom: 0.625rem;
}

.card h3{
    width: 100%;
    height: 9.375rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
    margin-top: -0.625rem;
    margin-bottom: 0.625rem;
}

.card h4{
    height: 9.375rem;
    margin-top: 0.625rem;
    font-size: 1.625rem;
    color: #D4AF37;
    font-weight: 600;
}

.botoes{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    gap: 1.5625rem;
    margin-top: 1.5625rem;
}

.botoes a{
    width: 12.5rem;
    height: 2.5rem;
    padding: 0.5rem 3.75rem;
    font-weight: 700;
    font-size: 1.125rem;
    color: #000;
    text-decoration: none;  
    background-color: #D4AF37;
    border-radius: 0.3125rem;
}

.botoes a:hover{
    background-color: #F3DE9B;
    transform: scale(1.05);
}

.botoes button{
    width: 5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-self: flex-end;
    background: none;
    border: solid 0.125rem #D4AF37;
    border-radius: 0.3125rem;
    cursor: pointer;
    color: #D4AF37;
    font-weight: 500;
    font-size: 1.25rem;
}

.botoes button img{
    width: 1.5625rem;
    height: 1.5625rem;
}

.botoes button:hover{
    transform: scale(1.05);
}

/* Banner Promoção */

.promocao{
    width: 100%;
    height: 37.5rem;
    display: flex;
    flex-direction: row;
    margin-top: 6.25rem;
    align-items: center;
    background-color: #2d2d2d;
    margin-bottom: 3.75rem;
}

.promocao img{
    width: 47.5rem;
    height: 43.75rem;
    transform: scale(1.02);
    margin-top: 0.1875rem;
}

.promocao div{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.25rem 3.75rem;
}

.promocao h2{
    width: 100%;
    font-family: "Montserrat";
    font-size: 4.25rem;
    font-weight: 600;
    color: #fff;
}

.promocao p{
    margin-top: 1.875rem;
    width: 60%;
    font-family: "Montserrat";
    font-size: 2rem;
    font-weight: 400;
    color: #fff;
}

.promocao span{
    color: #D4AF37;
}

.promocao h5{
    margin-top: 3.4375rem;
    width: 80%;
    font-family: "Montserrat";
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
}

.temporizador{
    margin-top: 0.9375rem;
    width: 43.75rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between
}

.temporizador article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 9.375rem;
    height: 8.4375rem;
    border: solid 0.125rem #D4AF37;
    border-radius: 0.9375rem;
}

.temporizador article h4{
    font-family: "Montserrat";
    font-size: 4.5rem;
    font-weight: bold;
    color: #fff;
    margin-top: 0.9375rem;
}

.temporizador .tempo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat";
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    margin-top: 0;
    margin-bottom: 1.875rem;
}

.promocao a{
    width: 17.5rem;
    height: 3.125rem;
    margin-top: 3.125rem;
    font-family: "Montserrat";
    padding: 0.875rem 4.0625rem;
    font-weight: 700;
    font-size: 1.25rem;
    color: #000;
    text-decoration: none;  
    background-color: #D4AF37;
    border-radius: 0.625rem;
}

.promocao a:hover{
    background-color: #F3DE9B;
    transform: scale(1.05);
}

/* Footer */

footer{
    margin-top: 6.25rem;
    width: 100%;
    background-color: #D4AF37;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-family: "Montserrat";
    color: #000;
}

footer .conteudo_footer{
    width: 100%;
    padding: 1.875rem 5.625rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: flex-start;
    justify-content: space-between;
}

.conteudo_footer figure{
    width: 15.625rem;
    height: 15.625rem;
}

.conteudo_footer figure img{
    width: 100%;
    height: 100%;
}

.conteudo_footer h2{
    font-size: 2.25rem;
    font-weight: bold;
}

.conteudo_footer h5{
    font-size: 1.5rem;
    font-weight: 600;
}

.conteudo_footer p{
    margin-top: 0.75rem;
    font-size: 1.125rem;
    font-weight: 400;
}

.conteudo_footer p:hover{
    cursor: pointer;
    text-decoration: underline;
}

.sobre{
    display: flex;
    flex-direction: column;
}

.pagamento{
    display: flex;
    flex-direction: column;
}

.redes_sociais{
    display: flex;
    flex-direction: column;
}

footer h6{
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    font-size: 1.25rem;
    font-weight: bold;
}


/* produtos */
.faixa {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 9.375rem; 
    margin-top: 5.31rem; 
    margin-bottom: 9.375rem; 
    background-color: #D4AF37;
    font-family: "Montserrat";
    font-size: 1.5625rem;
    color: #000;
}

#uniformes, #calcados, #bolas, #quadros, #equipamentos {
    margin-top: 7.5rem; 
}

/* Sobre */
.sobre_nos {
    width: 100%;
    height: 37.5rem; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #2d2d2d;
    padding: 0.625rem 5.625rem; 
}

.texto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: "Montserrat";
    color: #fff;
}

.texto h1 {
    font-size: 3.75rem;
    font-weight: 600;
    margin-bottom: 1.25rem; 
}

.texto p {
    width: 90%;
    font-size: 1.25rem; 
    font-weight: 300;
    line-height: 1.6;
}

.sobre_nos figure img {
    width: 37.5rem; 
    height: 24.375rem; 
    border-radius: 0.9375rem; 
}

/* missão */
.missao {
    width: 100%;
    height: 37.5rem; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0.625rem 5.625rem;
}

.missao figure img {
    width: 37.5rem;
    height: 24.375rem;
    border-radius: 0.9375rem;
    margin-right: 4.375rem; 
}

/* visão e valores */
.visao_valores {
    width: 100%;
    height: 37.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #2d2d2d;
    padding: 0.625rem 5.625rem;
}

.visao_valores figure img {
    width: 37.5rem;
    height: 24.375rem;
    border-radius: 0.9375rem;
}

.valores {
    font-size: 1.375rem; 
    margin-top: 0.9375rem; 
    font-weight: bold;
    margin-bottom: 0.625rem; 
}

.visao_valores ul {
    width: 90%;
    font-family: "Montserrat";
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.6;
    margin-left: 1.25rem; 
}

/* fale conosco */
.fale_conosco {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0.625rem 5.625rem;
    margin-top: 5rem; 
    margin-bottom: 7.5rem; 
}

.fale_titulo {
    font-family: "Montserrat";
    font-size: 2.25rem; 
    color: #F3DE9B;
    font-weight: 700;
    align-self: center;
    margin-bottom: 4.375rem; 
}

.fale_conosco article {
    display: flex;
    flex-direction: row;
}

.fale_conosco article figure img {
    width: 59.375rem; 
    height: 37.5rem;
    border-radius: 0.9375rem;
    margin-right: 4.6875rem; 
}

.formulario {
    margin-top: 1.25rem; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Montserrat";
    color: #D4AF37;
}

.formulario label {
    font-weight: 500;
    font-size: 1.25rem;
    margin-bottom: 0.625rem;
}

.formulario input {
    width: 37.5rem; 
    height: 1.875rem; 
    background: #262626;
    border: solid 0.063rem #D4AF37;
    padding: 0.625rem;
    margin-bottom: 1.25rem;
    font-size: 1rem;
    color: #fff;
    border-radius: 0.3125rem; 
}

.formulario textarea {
    width: 37.5rem;
    height: 12.5rem; 
    background: #262626;
    border: solid 0.063rem #D4AF37;
    padding: 0.625rem;
    margin-bottom: 1.25rem;
    font-size: 1rem;
    color: #fff;
    border-radius: 0.3125rem;
    resize: none;
    font-family: "Montserrat";
}

.formulario button {
    width: 18.75rem; 
    height: 2.5rem; 
    margin-top: 0.625rem;
    align-self: center;
    border: none;
    color: #000;
    background-color: #D4AF37;
    border-radius: 0.3125rem;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 1.375rem;
    cursor: pointer;
}

.formulario button:hover {
    background-color: #F3DE9B;
    transform: scale(1.1);
}


/* Tela pedidos */

.pedidos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pedidos h1{
    font-family: "Montserrat";
    color: #fff;
    font-weight: 700;
    font-size: 50px;
    margin-top: 80px;
    margin-bottom: 120px;
}

/* Produto para entrega */

.entrega{
    align-self: flex-start;
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 10px 90px;
    font-family: "Montserrat";
    color: #fff;
    margin-bottom: 30px;
}

.entrega h2{
    font-size: 40px;
    width: 700px;
}

.info_entrega{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
}

.info_entrega .imagem_produto{
    width: 350px;
    height: 350px;
}

.info_entrega img{
    width: 100%;
    height: 100%;
}

.info_entrega article{
    margin-left: 20px;
    justify-content: center;
}

.info_entrega article h3{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 35px;
}

.fases_entrega{
    width: 600px;
    height: 150px;
    margin-bottom: 35px;
}

.info_entrega article p{
    width: 600px;
    font-size: 22px;
    font-weight: 400;
}

/* Tela Busca */

.busca{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 90px;
}

/* filtro */

.filtro{
    margin-top: 130px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    font-family: "Montserrat";
    color: #FFF;
    gap: 35px;
}

.filtro h3{
    font-size: 32px;
    font-weight: 700;
}

.filtro article{
    display: flex;
    flex-direction: column;
    font-weight: 300;
    font-size: 20px;
    gap: 15px;
}

.filtro h4{
    font-weight: 400;
    font-size: 26px;
    margin-bottom:5px;
}

.filtro article label{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.filtro article input[type="checkbox"] {
    appearance: none;
    background-color: transparent;
    border: 1.5px solid #D4AF37;
    width: 19px;
    height: 19px;
    cursor: pointer;
    border-radius: 3px;
    position: relative; 
}

.filtro article input[type="checkbox"]::after {
    content: "✔";
    position: absolute;
    top: -2px;
    left: 2px;
    font-size: 16px;
    color: #000;
    display: none;
}

.filtro article input[type="checkbox"]:checked {
    background-color: #D4AF37;
}

.filtro article input[type="checkbox"]:checked::after {
    display: block;
}

.filtro .faixa_preco input{
    width: 100px;
    background-color: rgba(255, 255, 255, 0.04);
    border: 1.5px solid #D4AF37;
    border-radius: 5px;
    color: #FFF;
    font-size: 18px;
    padding: 5px 16px;
}

.filtro .faixa_preco span{
    color: #D4AF37;
}

/* cards */

.cards-busca{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 75%;
    margin-top: 50px; 
    font-family: "Montserrat";
}

.cards-busca h2{
    font-size: 32px; 
    font-weight: bold;
    color: #FFF;
    margin-bottom: 70px; 
}

.cards-busca span{
    font-size: 32px; 
    font-weight: bold;
    color: #D4AF37;
    margin-bottom: 60px; 
}

.cards-busca div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
}

/* Carrinho de compras */

.carrinho{
    display: flex;
    flex-direction: column;
    padding: 10px 90px;
    font-family: "Montserrat";
}

.carrinho h1{
    align-self: center;
    font-weight: 700;
    font-size: 48px;
    color: #FFF;
    margin-top: 60px;
    margin-bottom: 80px;
}

.carrinho .conteudo-carrinho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* produtos */

.produtos-carrinho{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
}

.card-carrinho{
    width: 750px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 3px solid #D4AF37;
    background: none;
    border-radius: 10px;
    padding: 5px 20px;
    gap: 60px;
}

.card-carrinho figure{
    width: 230px;
    height: 90%;
}

.card-carrinho img{
    width: 230px;
    height: 100%;
}

.info-produto-carrinho h3{
    width: 360px;
    font-size: 24px;
    font-weight: 600;
    color: #FFF;
    margin-bottom: 15px;
}

.info-produto-carrinho p{
    width: 360px;
    font-size: 18px;
    font-weight: 100;
    color: #FFF;
    margin-bottom: 15px;
}

.info-produto-carrinho article{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 170px;
}


.info-produto-carrinho article h4{
    font-size: 24px;
    font-weight: bold;
    color: #D4AF37;
}

.info-produto-carrinho article button{
    background-color: rgba(255, 255, 255, 0.04);
    border: 2px solid #D4AF37;
    width: 40px;
    height: 30px;
    border-radius: 3px;
    cursor: pointer;
}

.info-produto-carrinho article button img{
    margin-top: 1px;
    width: 20px;
    height: 20px;
}

.info-produto-carrinho article button:hover{
    transform: scale(1.1);
}

/* Preço total */

.total{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    gap: 20px;
}

.total h2{
    font-size: 55px;
    color: #FFF;
    font-weight: 700;
}

.total a{
    font-family: "Montserrat";
    text-decoration: none;
    width: 340px;
    height: 65px;
    background-color: #D4AF37;
    border-radius: 10px;
    color: #000;
    font-size: 26px;
    padding: 15px 55px;
    font-weight: 700;
}

.total a:hover{
    transform: scale(1.1);
    background-color: #F3DE9B;
}

/* Tela de perfil */

.info-perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 50px 90px;
}

.info-perfil h1{
    font-family: "Montserrat";
    color: #FFF;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 40px;
}

.info-perfil div{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 100px;
}

.foto-perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foto-perfil figure{
    width: 300px;
    height: 300px;
}

.foto-perfil img{
    width: 100%;
    height: 100%;
}

.foto-perfil a{
    width: 110px;
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    justify-content: space-around;
    font-weight: 500;
    color: #FFF;
    font-family: "Montserrat";
    gap: 5px;
    background-color: #C71E1E;
    border-radius: 5px;
    font-size: 18px;
}

.foto-perfil a img{
    width: 20px;
    height: 20px;
}

.foto-perfil a:hover{
    transform: scale(1.1);
    background-color: #e92c2c;
}

.dados-pessoa{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dados-pessoa label{
    font-family: "Montserrat";
    color: #D4AF37;
    font-weight: 500;
    font-size: 20px;
}

.dados-pessoa input{
    width: 550px;
    height: 35px;
    border: 1px solid #D4AF37;
    background-color: #262626;
    border-radius: 5px;
    padding: 10px;
    color: #FFF;
    font-size: 20px;
}

.dados-endereco{
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.dados-endereco label{
    font-family: "Montserrat";
    color: #D4AF37;
    font-weight: 500;
    font-size: 20px;
}

.dados-endereco input{
    height: 35px;
    border: 1px solid #D4AF37;
    background-color: #262626;
    border-radius: 5px;
    padding: 10px;
    color: #FFF;
    font-size: 20px;
}

.dados-endereco input, #bairro{
    width: 550px;
}

.dados-endereco input, #n, #cep{
    width: 190px;
}

.dados-endereco input, #cidade, #rua{
    width: 355px;
}


.dados-endereco div{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.dados-endereco div article{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-perfil button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 210px;
    height: 32px;
    position: absolute;
    bottom: 45%;
    right: 7%;
    background-color: #D4AF37;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: #000;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 16px;
}

.info-perfil button img{
    width: 20px;
    height: 20px;
}

.info-perfil button:hover{
    transform: scale(1.1);
    background-color: #F3DE9B;
}

/* Suas compras */

.suas-compras{
    display: flex;
    flex-direction: column;
    padding: 40px 90px;
    font-family: "Montserrat";
}

.suas-compras h2{
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 36px;
    color: #F3DE9B;
    font-weight: bold;
}

.suas-compras .card-carrinho{
    width: 750px;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 3px solid #D4AF37;
    background: none;
    border-radius: 10px;
    padding: 5px 20px;
    gap: 60px;
    margin-bottom: 60px;
}

.suas-compras .card-carrinho figure{
    width: 230px;
    height: 90%;
}

.suas-compras .card-carrinho img{
    width: 230px;
    height: 100%;
}

.suas-compras .info-produto-carrinho {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.suas-compras .info-produto-carrinho h3{
    width: 450px;
    font-size: 28px;
    font-weight: 600;
    color: #FFF;
    margin-bottom: 15px;
}

.suas-compras .info-produto-carrinho p{
    width: 360px;
    font-size: 18px;
    font-weight: 100;
    color: #FFF;
    margin-bottom: 15px;
}

.suas-compras .info-produto-carrinho h4{
    font-size: 26px;
    font-weight: 600;
    color: #D4AF37;
    margin-top: 20px;
}

.suas-compras .info-produto-carrinho h5{
    font-size: 20px;
    font-weight: 400;
    color: #FFF;
}

.acompanhar-pedido{
    width: 240px;
    height: 35px;
    border-radius: 5px;
    background-color: #D4AF37;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    margin-top: 40px;
    padding: 8px 33px;
}

.acompanhar-pedido:hover{
    transform: scale(1.05);
    background-color: #F3DE9B;
}

/* Tela de finalização */
/* endereço */

.finalizacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat";
}

.finalizacao h1{
    margin-top: 60px;
    margin-bottom: 80px;
    font-size: 42px;
    font-weight: 700;
    color: #FFF;
}

.endereco{
    padding: 10px 90px;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.endereco h2{
    margin-bottom: 10px;
    font-size: 36px;
    color: #F3DE9B;
    font-weight: bold;
}

.endereco article{
    width: 970px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.endereco article div{
    display: flex;
    flex-direction: column;
}

.endereco article div label{
    font-size: 20px;
    font-weight: 400;
    color: #D4AF37;
    margin-bottom: 5px;
}

.endereco article div input{
    height: 30px;
    border: 1px solid #D4AF37;
    background-color: #262626;
    border-radius: 5px;
    padding: 10px;
    color: #FFF;
    font-size: 16px;
}

.endereco article div input, #n, #cep{
    width: 160px;
}

.endereco article div input, #cidade, #rua{
    width: 315px;
}

.endereco article div input, #complemento, #bairro{
    width: 430px;
}

/* método de pagamento */

.metodo-pagamento{
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 80px;
    padding: 10px 90px;
}

.metodo-pagamento h2{
    margin-bottom: 10px;
    font-size: 36px;
    color: #F3DE9B;
    font-weight: bold;
}

.metodo-pagamento article{
    height: 100px;
    width: 970px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
    background-color: #2d2d2d;
}

.metodo-pagamento article div{
    display: flex;
    align-items: center;
    gap: 8px;
}

.metodo-pagamento article div .cartao{
    width: 30px;
    height: 30px;
}

.metodo-pagamento article div img{
    width: 40px;
    height: 30px;
}

.metodo-pagamento article div label{
    font-size: 16px;
    font-weight: 600;
    color: #FFF;
}

.metodo-pagamento article div input{
    appearance: none;
    background-color: transparent;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: 1.5px solid #D4AF37;
    border-radius: 10px;
    position: relative;
}

.metodo-pagamento article div input:checked {
    background-color: #D4AF37;
}

.metodo-pagamento article div input:checked:after {
    content: "✔";
    position: absolute;
    top: -1px;
    left: 3px;
    font-size: 14px;
    color: #000;
    display: block;
}

/* botoes */

.botoes-finalizar{
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    align-items: center;
    padding: 10px 90px;
    margin-top: 100px;
    gap: 50px;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 26px;
}

.botoes-finalizar .cancelar{
    text-decoration: none;
    width: 275px;
    height: 57px;
    color: #D4AF37;
    background: none;
    border-radius: 6px;
    border: 3px solid #D4AF37;
    padding: 10px 75px;
}

.botoes-finalizar .finalizar{
    text-decoration: none;
    width: 275px;
    height: 57px;
    color: #000;
    background: #D4AF37;
    border-radius: 6px;
    padding: 12px 80px;
}

.botoes-finalizar a:hover{
    transform: scale(1.05);

}

.resumo{
    width: 320px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat";
    color: #D4AF37;
    position: absolute;
    align-self: flex-end;
    bottom: 45%;
    background-color: #2d2d2d;
    right: 5%;
    border-radius: 10px;
    gap: 10px;
}

.resumo h3{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.resumo article{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
}

.resumo p{
    font-size: 20px;
    font-family: 300;
}

.resumo hr{
    width: 90%;
    height: 2px;
    background-color: #D4AF37;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* produto específico */

.produto-especifico{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 150px 140px;
}

.produto{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
}

/* fotos laterais */
.fotos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.fotos figure{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.04);
    border: 2px solid #D4AF37;
    cursor: pointer;
}

.fotos .ativa{
    border: none;
    background: none;
}

.fotos img{
    width: 90%;
    height: 90%;
}


/* foto central */

.imagem-ativa{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 750px;
    height: 750px;
}

.imagem-ativa img{
    width: 90%;
    height: 90%;
}

.favorito-produto{
    width: 55px;
    height: 55px;
    position: absolute;
    top: 23%;
    right: 38%;
    cursor: pointer;
}

.favorito-produto img{
    width: 100%;
    height: 100%;
}

/* informações produto */
.info-produto{
    align-self: flex-start;
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    font-family: "Montserrat";
}

.info-produto h1{
    width: 100%;
    font-size: 36px;
    font-weight: 700;
    color: #FFF;
}

.info-produto p{
    width: 100%;
    font-size: 20px;
    font-weight: 100;
    color: #FFF;
}

.info-produto h2{
    font-size: 36px;
    font-weight: 700;
    color: #D4AF37;
}

.info-produto a{
    width: 100%;
    height: 55px;
    background-color: #D4AF37;
    border: none;
    text-decoration: none;
    border-radius: 12px;
    color: #000;
    font-weight: 600;
    font-size: 32px;
    padding: 8px 165px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.info-produto a:hover{
    transform: scale(1.05);
    background-color: #F3DE9B;
}

.historia{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background-color: #2d2d2d;
    border-radius: 15px;
    padding: 30px;
}

.historia h3{
    font-size: 36px;
    font-weight: 700;
    color: #FFF;
    margin-bottom: 20px;
}

.historia p{
    width: 90%;
}

/* Comentários */

.comentarios{
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 160px;
    font-family: "Montserrat";
    gap: 40px;
}

.comentarios h4{
    font-size: 32px;
    font-weight: 700;
    color: #FFF;
}

.comentarios article{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 1200px;
    border: 3px solid #D4AF37;
    background: none;
    border-radius: 15px;
    padding: 20px 20px;
    gap: 20px;
}

.comentarios article div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.comentarios p{
    font-size: 20px;
    color: #FFF;
    font-weight: 200;
}

.comentarios figure{
    width: 40px;
    height: 40px;
}

.comentarios img{
    width: 100%;
    height: 100%;
}

.comentarios h5{
    font-size: 20px;
    font-weight: 600;
    color: #D4AF37;
}

/* login */

.main-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    width: 600px;
    background-color: #2d2d2d;
    border-radius: 25px;
}

.login figure{
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.login img{
    width: 100%;
    height: 100%;
}

.login h1{
    font-size: 40px;
    font-weight: 600;
    color: #FFF;
}

.login form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.login form label{
    width: 90%;
    font-size: 24px;
    font-weight: 400;
    color: #D4AF37;
    margin-top: 30px;
}

.login form input{
    box-sizing: border-box;
    width: 90%;
    height: 35px;
    border: 1px solid #D4AF37;
    background-color: #262626;
    border-radius: 5px;
    padding: 10px;
    color: #FFF;
    font-size: 18px;
}

.login #senha, #confirmar-senha{
    background-image: url(./assets/images/senha.png);
    background-repeat: no-repeat;
    background-size: 22px 22px; 
    background-position: 500px center; 
}

.login form p{
    align-self: flex-start;
    margin-left: 30px;
    color: #D4AF37;
    font-weight: 300;
    cursor: pointer;
    margin-bottom: 30px;
}

.login form p:hover{
    text-decoration: underline;
}

.login form button{
    width: 60%;
    height: 45px;
    background-color: #D4AF37;
    color: #000;
    font-size: 24px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 25px;
}

.login form button:hover{
    background-color: #F3DE9B;
    transform: scale(1.05);
}

.botao-cadastro{
    margin-top: 35px;
}

.login a{
    text-decoration: none;
    color: #D4AF37;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;
}

.login a:hover{
    text-decoration: underline;
}

.login form article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

.login form article div{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login form article div input{
    width: 100%;
}
